.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	padding: 20px;
}

.document-grid {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 20px;
	padding: 30px 0 50px 0;
}

.no-results {
	display: flex;
	justify-content: center;
	align-items: center;
	color: darkgray;
	height: 60vh;
	width: 100%;
	font-size: 2em;
}

.pdf-card {
	width: calc(25% - 20px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	transition: transform 0.3s;
	overflow: hidden;
}

.pdf-card a {
	color: black; /* This will set the text color */
	text-decoration: underline; /* This ensures there's an underline */
	text-decoration-color: black; /* This sets the underline color */
}

.pdf-preview {
	width: 100%;
	height: 100px;
	padding-top: 75%;
	position: relative;
	overflow: hidden;
}

.pdf-preview img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (max-width: 767px) {
	.pdf-card {
		width: calc(50% - 20px);
	}
}

.pdf-card:hover {
	transform: scale(1.05); /* optional: slightly increase size when hovered */
}

.pdf-title {
	color: #333;
	font-weight: bold;
	font-size: 1.1rem;
	margin: 12px 0;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 15px;
	border-top: 2px solid rgb(223 227 227);
	text-decoration-color: black;
}
